@import "../var.scss";

.layout {
    .side-menu-layout {
        aside {
            width: 210px !important;
            height: 100%;
            background-color: $menuBg;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
        }

        main {
            position: relative;
            min-height: 100%;
            margin-left: 210px;
            transition: margin-left 0.28s;

            header {}

            .section-tags-menu {}

            .app-main {}

            footer {}
        }
    }

    .header-menu-layout {
        main {
            header {}

            .section-tags-menu {}

            .app-main {}

            footer {}
        }
    }
}